*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.logo h2{
    front size: 45px;
    front-weight=bolder;

}
.color-orange{
    color: #FD6E0A;

}


header{
    background-color:#FFF8F3;
    background: url("../images/developer.png") ,url("../images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left,bottom right ;
    padding-top: 50px;
    
}
nav{
    width: 71%;
    max-width: 1300px;
   /* border: 1px solid red;*/
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  
   
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
 nav .menu a {
    font-size:20px;
    color:#474747;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 19px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.banner{
    /*border: 1px solid red;*/
    margin: 47px 38px 0px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content
{
    max-width: 585px;
}



.banner-content h2{
    font-size: 35px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
.banner-content h1{
    font-size: 70px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 15px;
}

.banner-content p{
    font-size: 18px;
    font-weight:regular ;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.btm{
    background-color: #FD6E0A;
    border: none;
    padding: 15px 10px ;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

 .banner-image  img{
    max-width: 585px;
    vertical-align: middle;
 }

 #about{
    padding-top: 130px;
    margin: 0 auto;
    text-align: center;
    
    
 }
 #about .b {
    background-color: #e4dfdb;
    padding: 131px 156px;
 }
 #about .b h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
 }
 #about .ami{
    color: #757575;
    margin-bottom: 30px;
 }
 #about .ami .h{
    color: #757575;

 }
 #about .i{
    font-size: 20px;
    font-weight: mixed;
    
 }
 #about .h .h4{
display: flex;

 }






  .nilasa{
    padding-top: 128px;
    text-align: center;
    font-size: 18px;
    font-weight: regular;
    
    
    
  }
  .nilasa .c{
    color: #757575;
  }


 







